/**
* Utility classes
*/

/**
* Wordpress image alignment
*/
.alignright {
  float: none;

  @include breakpoint($tablet) {
    float: right;
  }
}

.alignleft {
  float: none;

  @include breakpoint($tablet) {
    float: left;
  }
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}

.screen-reader {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
