@keyframes fade-in-out {
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/SegoeUI.eot") format("embedded-opentype"), url("assets/fonts/SegoeUI.woff") format("woff"), url("assets/fonts/SegoeUI.ttf") format("truetype"), url("assets/fonts/SegoeUI.svg#SegoeUI") format("svg");
}

@font-face {
  font-family: 'SegoeUI';
  font-style: italic;
  font-weight: normal;
  src: url("assets/fonts/SegoeUI-Italic.eot") format("embedded-opentype"), url("assets/fonts/SegoeUI-Italic.woff") format("woff"), url("assets/fonts/SegoeUI-Italic.ttf") format("truetype"), url("assets/fonts/SegoeUI-Italic.svg#SegoeUI") format("svg");
}

@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Impact.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Impact.woff") format("woff"), url("assets/fonts/Impact.ttf") format("truetype"), url("assets/fonts/Impact.svg#Impact") format("svg");
}

@font-face {
  font-family: 'AvrileSerif-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/AvrileSerif-BlackItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/AvrileSerif-BlackItalic.woff") format("woff"), url("assets/fonts/AvrileSerif-BlackItalic.ttf") format("truetype"), url("assets/fonts/Impact.svg#Impact") format("svg");
}

@keyframes fade-out {
  100% {
    z-index: -999;
  }
}