.wpcf7-form .button.pseudo-class-focus,
.wpcf7-form .button.pseudo-class-hover,
.form .button.pseudo-class-focus,
.form .button.pseudo-class-hover {
  background: #e5ae00;
  color: #fff;
}

.footer__social-links.pseudo-class-hover {
  color: #e5ae00;
}

.location .address a.pseudo-class-focus,
.location .address a.pseudo-class-hover {
  color: #e5ae00;
}

.navigation__link.pseudo-class-focus,
.navigation__link.pseudo-class-hover {
  color: #fecb00;
}

.project-block__link.pseudo-class-focus .project-block__image,
.project-block__link.pseudo-class-hover .project-block__image {
  filter: grayscale(0);
}

.project-block__link.pseudo-class-focus .project-block__name,
.project-block__link.pseudo-class-hover .project-block__name {
  color: #fecb00;
}

.project__link.pseudo-class-hover {
  text-decoration: none;
}

.project__link.pseudo-class-hover .project__image {
  filter: grayscale(0);
}

.project__link.pseudo-class-hover .project__name {
  opacity: 1;
}