.gallery {
  display: grid;
  grid-gap: 15px;
  padding: 20px;

  @include breakpoint($tablet) {
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
  }

  &__inner {
    margin: auto;
  }

  &__item {
    margin: 0;

    @include breakpoint($tablet) {
      grid-column-end: span 4;
      grid-row-end: span 9;

      &--3 {
        grid-column-end: 6;
        grid-column-start: 1;
      }

      &--4 {
        grid-column-end: 9;
        grid-column-start: 6;
      }
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
