.header {
  background: $white;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;

  .opened & {
    right: 75vw;
  }

  @include breakpoint($tablet) {
    padding: 0 20px;

    .opened & {
      left: auto;
      right: 380px;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
  }
}

.logo {
  &__wrapper {
    margin: 10px 0;
  }

  &__image {
    height: auto;
    width: 160px;

    @include breakpoint($xldesktop) {
      width: 225px;
    }
  }
}

.hamburger {
  &__wrapper {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-transform: none;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    transition-timing-function: linear;
  }

  &__box {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;
  }

  &__inner {
    background-color: #000;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%;

    &::before,
    &::after {
      background-color: #000;
      border-radius: 3px;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      transition-duration: 0.15s;
      transition-property: transform;
      transition-timing-function: ease;
      width: 100%;
    }

    &::before {
      top: -8px;
      transition: top 75ms ease 0.12s, opacity 75ms ease;
    }

    &::after {
      bottom: -8px;
    }

    .hamburger__wrapper.open & {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      }

      &::before {
        opacity: 0;
        top: 0;
        transition: top 75ms ease, opacity 75ms ease 0.12s;
      }
    }
  }
}
