.navigation {
  background: #ececec;
  color: #707070;
  height: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 59px;
  position: absolute;
  right: -533px;
  top: 0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  width: 533px;
  z-index: 2;
}
