.project-block {
  &__inner {
    align-items: flex-end;
    display: flex;
    margin: 20px auto;
    max-width: 1400px;
    padding: 0 20px;
  }

  &__category {
    color: $black-other;
    font-family: $font-body;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 20px 0;
    order: 0;

    @include breakpoint($tablet) {
      bottom: 20px;
      margin: 0;
      position: fixed;
      right: 30px;
    }
  }

  &__link {
    align-items: flex-end;
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    order: 1;
    text-decoration: none;

    &:focus,
    &:hover {
      .project-block__image {
        filter: grayscale(0);
      }

      .project-block__name {
        color: $yellow;
      }
    }

    @include breakpoint($desktop) {
      flex-wrap: nowrap;
      margin: 50px 0;
      order: unset;
      width: 70%;
    }
  }

  &__location {
    color: $gray;
    font-size: 15px;
    line-height: 1;
    margin: 5px 0 0;
  }

  &__name {
    color: $yellow;
    font-family: $font-body;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    transition: color 0.2s ease-in-out;

    @include breakpoint($desktop) {
      color: $gray;
    }
  }

  &__content {
    margin: 10px 0 0;

    @include breakpoint($desktop) {
      margin: 0 40px 0 100px;
    }
  }

  &__image {
    filter: grayscale(0);
    max-width: 450px;
    transition: filter 0.2s ease-in-out;
    width: 100%;

    @include breakpoint($desktop) {
      filter: grayscale(1);
    }
  }
}
