.project-grid {
  display: flex;
  justify-content: flex-end;
  padding: 100px 0;
  width: 100%;

  @include breakpoint($desktop) {
    padding: 200px 0 100px;
  }

  &__inner {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;

    @include breakpoint($lmobile) {
      grid-column-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($lmobile) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint($desktop) {
      grid-template-columns: repeat(3, 250px);
      justify-content: flex-end;
      padding: 0;
    }

    @include breakpoint($xldesktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.project {
  margin: 0;
  text-align: center;

  &__image {
    border-radius: 50%;
    filter: grayscale(1);
    max-width: 100%;
    transition: filter 0.1s ease-in-out;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .project__image {
        filter: grayscale(0);
      }

      .project__name {
        opacity: 1;
      }
    }
  }

  &__name {
    color: #000;
    font-size: 16px;
    opacity: 0;
    text-align: center;
    transition: opacity 0.1s ease-in-out;

    @include breakpoint($tablet) {
      font-size: 18px;
    }
  }
}
