<nav class="navigation">
  <ul class="navigation__set navigation__set--top">
    <li class="navigation__item">
      <h3 class="navigation__header">Home</h3>
    </li>
    <li class="navigation__item">
      <h3 class="navigation__header">Work</h3>
      <ul class="navigation__set navigation__set--nested">
        <li class="navigation__item navigation__item--nested">Restaurant & Bar</li>
        <li class="navigation__item navigation__item--nested">Coffee & Boba</li>
        <li class="navigation__item navigation__item--nested">Retail</li>
        <li class="navigation__item navigation__item--nested">Others</li>
      </ul>
    </li>
    <li class="navigation__item">
      <h3 class="navigation__header">About</h3>
      <ul class="navigation__set navigation__set--nested">
        <li class="navigation__item navigation__item--nested">Our Story</li>
        <li class="navigation__item navigation__item--nested">People</li>
        <li class="navigation__item navigation__item--nested">Events / News</li>
      </ul>
    </li>
    <li class="navigation__item"><h3 class="navigation__header">Contact</h3></li>
  </ul>
</nav>