.footer {
  clear: both;
  margin: 100px 0 0;
  padding: 0 30px;

  .home & {
    justify-content: flex-end;
    padding: 0;

    &__inner {
      max-width: 1200px;
      text-align: center;

      @include breakpoint($tablet) {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: repeat(3, 200px);
        justify-content: flex-end;
        max-width: 1200px;
        width: 100%;
      }

      @include breakpoint($desktop) {
        grid-template-columns: repeat(3, 275px);
      }

      @include breakpoint($xldesktop) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    &__logos {
      margin: auto;
    }
  }

  @include breakpoint($tablet) {
    display: flex;
    justify-content: center;
  }

  &__inner {
    @include breakpoint($tablet) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
    }
  }

  &__logos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;

    @include breakpoint($tablet) {
      max-width: 195px;
    }
  }

  &__social-links {
    .icon--insta {
      max-height: 20px;
      max-width: 20px;

      @include breakpoint($tablet) {
        max-height: 33px;
        max-width: 33px;
      }
    }

    .icon--email {
      max-height: 21px;
      max-width: 24px;

      @include breakpoint($tablet) {
        max-height: 27px;
        max-width: 38px;
      }
    }

    .icon--phone {
      max-height: 23px;
      max-width: 17px;

      @include breakpoint($tablet) {
        max-height: 32px;
        max-width: 24px;
      }
    }
  }

  &__copy {
    color: $gray-light;
    font-size: 16px;
    line-height: 1.2;

    @include breakpoint($tablet) {
      font-size: 18px;
    }
  }
}
