.gallery {
  padding: 20px;

  &__inner {
    margin: auto;
  }

  &__row {
    display: grid;
    grid-column-gap: 30px;
    margin-bottom: 30px;

    &--fifty-fifty {
      @include breakpoint($tablet) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &--sixty-forty {
      @include breakpoint($tablet) {
        grid-template-columns: 6fr 4fr;
      }
    }

    &--forty-sixty {
      @include breakpoint($tablet) {
        grid-template-columns: 4fr 6fr;
      }
    }
  }

  &__item {
    height: 100%;
    margin: 0;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
