.location {
  &__inner {
    max-width: 700px;
  }

  #map {
    color: $yellow;
    height: 100%;
    width: 100%;

    .tooltip {
      fill: $yellow;
    }

    @include breakpoint($desktop) {
      color: #c0cb03;

      .tooltip {
        opacity: 0;
      }

      &:hover {
        color: $yellow;

        & .tooltip {
          opacity: 1;
        }
      }
    }
  }

  .address {
    a {
      color: $gray-other;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $gold;
      }
    }
  }
}
