.project-list {
  position: relative;
  width: 100%;

  &__inner {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    padding: 0 20px;
  }
}
