.video {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 2;

  &.fade {
    animation: fade-out 0.1s 0.5s forwards;
    opacity: 0;
  }

  &.hidden {
    display: none;
    visibility: hidden;
  }

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__content {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@keyframes fade-out {
  100% {
    z-index: -999;
  }
}
