{% block html_head_container %}
  {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  {% include 'icon-sprite.twig' %}
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      {% block nav %}
        {% include 'components/_navigation.twig' %}
      {% endblock %}

      <div class="off-canvas-content" data-off-canvas-content>
        {% block header %}
          <header class="header">
            <div class="logo">
              <h1 class="logo__wrapper"><a href="/" class="logo__link"><img src="/wp-content/themes/curtissu/dist/img/logo@2x.png" alt="" class="logo__image"></a></h1>
            </div>
            <div class="hamburger" data-loadcomponent="Nav">
              <a href="#" class="hamburger__wrapper nav-trigger">
                <div class="hamburger__box">
                  <div class="hamburger__inner"></div>
                </div>
              </a>
            </div>
          </header>
        {% endblock %}

        {% block content %}
          <main class="page-content row">
            <section class="post-list small-12 columns">
              <p>Sorry, no entries match your criteria</p>
            </section> <!-- /.post-list.small-12.columns -->
          </main> <!-- /.page-content.row -->
        {% endblock %}

        {% block footer %}
          {% include 'footer.twig' %}
        {% endblock %}

        {{cta}}
      </div> <!-- /.off-canvas-content -->
    </div> <!-- /.off-canvas-wrapper-inner -->
  </div> <!-- /.off-canvas-wrapper -->
  {{ function('wp_footer') }}
</body>
</html>
