{% extends "base.twig" %}

{% block content %}
  <main class="page-content">
    <section class="project-list">
      <div class="project-list__inner">
        {% block post_list %}
          {% for post in posts %}
            {% include ['components/event-block.twig'] %}
          {% endfor %}
        {% endblock %}
      </div>
    </section> <!-- /.project-list -->
  </main> <!-- /.page-content.row -->
{% endblock %}