{% extends "base.twig" %}

{% block content %}
  <main class="project-grid">
    <div class="project-grid__inner">
      {% for post in posts %}
        {% include 'components/_teaser.twig' %}
      {% endfor %}
    </div>
  </main>
  {% if home.get_field('home_video').url %}
  <div class="video" data-loadcomponent="Video">
    <div class="video__inner">
      <video playsinline autoplay muted loop class="video__content">
        <source src="{{ home.get_field('home_video').url }}" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
  {% endif %}
{% endblock %}