{% extends "base.twig" %}

{% block content %}
  <section class="project-grid">
    <div class="project-grid__inner">
      {% for post in posts %}
        {% include 'components/_teaser.twig' %}
      {% endfor %}
    </div>
  </section>
{% endblock %}