*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-size: 18px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;

  &.video-open {
    overflow: hidden;
  }
}

p {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-body;
  font-weight: 900;
}

a {
  transition: all 0.1s ease-in-out;
}

.off-canvas-wrapper {
  overflow: hidden;
}

.off-canvas-wrapper-inner {
  position: relative;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .opened & {
    right: 75vw;
    // transform: translateX(-75vw);

    @include breakpoint($tablet) {
      right: 380px;
      // transform: translateX(-533px);
    }
  }
}

.page-content {
  padding-top: 80px;
}

@keyframes fade-in-out {
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
