// Site Variables
//

$black: #000;
$black-light: #2d2d2d;
$black-other: #333;
$gold: #e5ae00;
$gray-dark: #707070;
$gray: #878482;
$gray-light: #afafaf;
$gray-other: #646464;
$green-pale: #d3ddc3;
$orange-burnt: #d35e39;
$yellow: #fecb00;
$white: #fff;

$xsmobile: 320px;
$smobile: 375px;
$mobile: 480px;
$lmobile: 600px;
$tablet: 768px;
$desktop: 1024px;
$ldesktop: 1280px;
$xldesktop: 1440px;

$font-body: 'Raleway', sans-serif;
$font-emphasis: 'Open Sans', sans-serif;
$font-heavy: 'Impact', sans-serif;
$font-extra: 'AvrileSerif-BlackItalic', sans-serif;

//////////////////////////////
// Menu
/////////////////////////////
$offcanvas-fixed-reveal: false;
